body{
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem 4rem;
  grid-template-rows: 4rem 4rem 4rem 4rem 4rem;
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  justify-content: center;
}
div{
    width: 4rem;
    height: 4rem;
    border-radius: 15%;
}
body > div:nth-child(odd){
    background: black;
}
body > div:nth-child(even){
    border: 1px solid black;
    background: white;
}